<div (dblclick)="showForm()">
    <div *ngIf="!showChangeForm" class="scale-container">
        <p class="title happening">{{transactionData.happening}}</p>
        <p class="title amount">{{transactionData.amount}}</p>
    </div>

    <form 
        *ngIf="showChangeForm"
        (ngSubmit)="updateTransaction()"
    >
        <input 
            type="text" 
            name="happening" 
            [(ngModel)]="happening"
        >
        <input 
            type="number" 
            name="amount" 
            [(ngModel)]="amount"
        >

        <div>
            <input type="submit" value="Update">
            <button (click)="deleteTransaction()">Delete</button>
        </div>
        <p>{{transactionData.date}}</p>
    </form>
</div>