
<p *ngFor="let event of transactions$ | async">{{event.happening}}</p>

<div class="info account-container">

    <div class="scale-container info">
        <h1 class="title">2. Debts</h1>
        <app-button 
            (showAddForm)="toggleAddForm()"
            action="{{buttonAction}}">
        </app-button>
    </div>

    <app-add-transaction 
        *ngIf="showAddForm"
        [isRR]=false
        (addedTransaction)="onAddedTransaction($event)">
    </app-add-transaction>

    <div class="scale-container">

        <section class="info">
            <h2 class="title red-text">Debit -</h2>
            <app-transction 
            *ngFor="let transaction of debit"
            [transactionData]="transaction"
            (deathrowTransaction)="onTransactionDeletion($event)"
            ></app-transction>
        </section>
    
        <section class="info">
            <h2 class="title green-text">Credit +</h2>

            <app-transction 
            *ngFor="let transaction of credit"
            [transactionData]="transaction"
            (deathrowTransaction)="onTransactionDeletion($event)"
            ></app-transction>

        </section>

    </div>
</div>