<div class="info account-container">
    <h1 class="info title">Assets 1</h1>

    <div class="scale-container">
        <section class="info">
            <h2 class="title green-text">Debit</h2>
            <app-transction 
            *ngFor="let transaction of debit"
            [transactionData]="transaction"
            ></app-transction>
        </section>
    
        <section class="info">
            <h2 class="title red-text">Credit</h2>
            <app-transction 
            *ngFor="let transaction of credit"
            [transactionData]="transaction"
            ></app-transction>
        </section>
    </div>
</div>